<!DOCTYPE html>
<html>
	<head>
		{% include 'base/head.html.twig' %}
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% include 'base/nav.html.twig' %}
		<div class="container"> {% block body %}{% endblock %}
			</div>
			{% include 'base/footer.html.twig' %}
		</body>
	</html>
