{% extends 'base.html.twig' %}

{% block title %}Edit LeagueTeam{% endblock %}

{% block body %}
    <h1>Edit LeagueTeam</h1>

    {{ include('league_team/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_league_team_index') }}">back to list</a>

    {{ include('league_team/_delete_form.html.twig') }}
{% endblock %}
