{% extends 'base.html.twig' %}

{% block title %}LeagueTeam index{% endblock %}

{% block body %}
    <h1>LeagueTeam index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for league_team in league_teams %}
            <tr>
                <td>{{ league_team.id }}</td>
                <td>
                    <a href="{{ path('app_league_team_show', {'id': league_team.id}) }}">show</a>
                    <a href="{{ path('app_league_team_edit', {'id': league_team.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_league_team_new') }}">Create new</a>
{% endblock %}
