{% extends 'base.html.twig' %}

{% block title %}New LeagueTeam{% endblock %}

{% block body %}
    <h1>Create new LeagueTeam</h1>

    {{ include('league_team/_form.html.twig') }}

    <a href="{{ path('app_league_team_index') }}">back to list</a>
{% endblock %}
